<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>


   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>



<div class="site">
  <div class="title">
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Test
      </p>
    </div>
    <div class="contact">
      <p>

      </p>
    </div>
    <div class="rss">

    </div>
  </div>
</div>

</body>
</html>
